# History files
.Rhistory
.Rapp.history

# Session data/usr/tmp files
.RData
.RDataTmp
.Ruserdata
*-Ex.R
*.utf8.md
*.knit.md
.Renviron
po/*~
rsconnect/

# large output/Rproj files and cache
/*.tar.gz
/*.Rcheck/
.Rproj.user/
*_cache/
/cache/


# produced vignettes/pkg files
vignettes/*.html
vignettes/*.pdf
docs/

# tokens
.httr-oauth

# sequencing data (deposited in corresponding SRA/dbGaP/GEO repositories)
# fastq
*.fastq
*.fastq.gz
*.fq
*.fq.gz
# aligned
*.bam
*.bai
*.sam
*.cram
*.crai
# reference/index
*.fa
*.fasta
*.gtf
*.gtf.bed
STAR_index*/
*_STARtmp/
*_STARgenome/

# intermediate.log files (available on request @brain-discourse); optputs depositied in zenodo project
*.dgecounts.rds
*zUMIs_output/
Log.out
Log.progress.out
Log.final.out
SJ.out.tab
*.BCstats.txt
*.zUMIs_runlog.txt
*.log
*.out
*.err
slurm-*.out
nohup.out
paths.local.yaml

# OS
.DS_Store
